<!DOCTYPE html>
<html>
<head>
  <title>typesomethinghere.com | blog / experiments / testing grounds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= render "layouts/navigation" %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
